	<% @people.each do |person| %>		
		<p id="result" person_id=<%= person.id %> full_name="<%= person.first_name %> <%= person.last_name %>"><%= person.first_name %> <%= person.last_name %>
			<%= image_tag url_for(:controller => "people", :action => "show_thumb", :id => person.id), size: "56x75" %>
			
			<td><%= link_to 'Edit', controller: "people", action: "profile_admin", id: person.id %></td>
		</p>	
	<% end %>	