
        <td><%= f.birth_date %></td>
        <td><%= f.curriculum %></td>
        <td><%= f.address_line_1 %></td>
        <td><%= f.address_line_2 %></td>
        <td><%= f.city %></td>
        <td><%= f.state %></td>
        <td><%= f.zip_code %></td>
        <td><%= f.matric_date %></td>
        <td><%= f.resident_commuter %></td>
        <td><%= f.emergency_contact_name %></td>
        <td><%= f.emergency_contact_number %></td>
        <td><%= f.emergency_contact_relationship %></td>
        <td><%= f.advisor %></td>
        <td><%= f.personal_email %></td>
        <td><%= f.harcum_email %></td>
        <td><%= f.phone_numbers %></td>