
<h1>Notifications</h1>
<div class="container-fluid">

	<div class="row">
		<b>
			<div class="col-sm-2">Session:</div>
			<div class="col-sm-2">Section:</div>
			<div class="col-sm-2">Reason(s):</div>
			<div class="col-sm-2">Actions(s):</div>
			<div class="col-sm-1">Status:</div>
			<div class="col-sm-2">Created by:</div>
			<div class="col-sm-1">Created on:</div>
		</b>
	</div>

	<% @notifications.each_with_index do |n, index| %>  
	<div class="row">
		<% if n.section_student_id? %>
			<div class="col-sm-2"><%= n.section.session %></div>
			<div class="col-sm-2"><%= n.section.section %></div>
		<% else %>	
			<div class="col-sm-4"></div>
		<% end %>
		<div class="col-sm-2"><% n.reasons.each do |r| %><%= r.code %>
			<% end %></div>
		<div class="col-sm-2"><% n.action_types.each do |a| %><%= a.code %>
			<% end %></div>
		<div class="col-sm-1"><%= n.status.code %></div>
		<div class="col-sm-2"><%= n.creator.first_name %> <%= n.creator.last_name %></div>
		<div class="col-sm-1"><%= n.created_at.to_date %></div>
	</div>
	<% end %>
</div>
