<h2>Sign up</h2>

<div class="popup ui-widget" id="user_search_form">
	<%= form_tag people_search_pc_index_path, :method => 'get', :id => 'user-search' do %>
	<%= text_field_tag :search, params[:search], :id => "tags" %>
	<%= hidden_field :created_by,params[:created_by], :value => @current_user_id  %> 
	<%= submit_tag "Search", :name => nil, class: "btn btn-primary btn-xs" %>
	<% end %>    
	<div id="users-result"></div>
</div>  

<div id="seeProfile2" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" id="seeProfile2inner">
		</div>
	</div>
</div>

<div id="name_placeholder">
</div>		
		
<script>
	var frm = $('#user-search');
	frm.submit(function (ev) {
		$.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {

				// get an array of the elements with id=result
            	var results = $(data).filter('#result');      
            	
            	// if there are no elements the search returned nothing      	
            	if(results.length == 0){
            		$('#users-result').append('<label class="error">No matching students found</label>');
            		return false;
            	}
            	
            	// if it returned one row, no need to let user select     	
            	if(results.length == 1){	
            		setUser($(results[0]));
            		return false;
            	}
	 				       	
  				// insert rows and show selector screen       
  				// IT'S SUPER IMPORTANT TO 
  				// render :layout => false
  				// IN CONTROLLER BECAUSE OTHERWISE YOU WILL GET MULTIPLE LOADS
  				// OF JS IN APP LAYOUTS!
  					
            	$('#seeProfile2inner').html(data);
            	$('#seeProfile2').modal();
            }
        });
        ev.preventDefault();
    });



// had to make this handler delegate because handler is set up before ajax loads content
$( '#seeProfile2' ).on('click','a',function() {
	setUser($(this));
})

function setUser(thisObj){
  // the line that was clicked on is $(this) so just get the attributes you need
  /*$('#student_name').append(thisObj.attr( "full_name" ));
  $('#student_info').show();
  console.log("foo: " + thisObj.attr('person_id'))
  $('<img src="/people/show_image?id=' + thisObj.attr('person_id') +'">').load(function() {
  thisObj.width(75).height(100).appendTo('#student_pic');
  });
  $.ajax({url: "/student_attributes/" + thisObj.attr('person_id')})
  .done(function( data ) {$('#student_info').append(data); });
  $('iframe').attr('src','/narratives/nonav?person_id='+ thisObj.attr('person_id'));
  
  //document.getElementById('email_greeting').value = "Dear " + thisObj.attr( "full_name" ) + ",\r\n\r\n";
  document.getElementById('notification_person_id').value = thisObj.attr('person_id');
  // you could potentially use getElementById to get values from a generic index for people
  // instead of using custom attributes
  
  // update dropdown to select section student and hide search
  var creator_id = document.getElementById('notification_created_by').value;
  update_section_student_selector(thisObj.attr('person_id'),creator_id);      
  //updateCCs();
  */

$('#user_email').val(thisObj.attr('email'));
$('#user_person_attributes_first_name').val(thisObj.attr('first_name'));
$('#user_person_attributes_last_name').val(thisObj.attr('last_name'));
$('#user_person_attributes_email').val(thisObj.attr('email'));
$('#user_person_attributes_id').val(thisObj.attr('person_id'));

$( "#name_placeholder" ).append( "<strong>Name <br><br></strong>"+thisObj.attr('full_name')+"<br><br>" );

 	
  $("#user_search_form").empty();
  $('#seeProfile2').modal('hide');
  //$("#new_notification").valid(); // make error message from jquery validate go away
    return false;
}


</script>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email  %>
  </div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <%= f.fields_for :person do |builder| %>
  
  	<%= builder.hidden_field :id %>
	<%= builder.hidden_field :email %>

    <div class="field">
	    <%= builder.label :first_name%><br />
	    <%= builder.text_field :first_name %>
    </div>
    <div class="field">
	    <%= builder.label :last_name%><br />
	    <%= builder.text_field :last_name %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>


